h1, h2, h3, h4, h5, h6, a, li, header p, footer a, footer p {
    font-family: 'Cabin', sans-serif;
}

legend, form, li {
    font-family: 'Rokkitt', serif;
}

header {
    text-align: center;
    margin-top:100px;
    margin-bottom:100px;
}

header h1{
    font-size: 86px;
    font-family: 'Cabin', sans-serif;
}

header img{
    padding-bottom: 18px;
}

form.form-search.topic-add {
    background: #eee;
    padding: 10px;
}

form table {
    text-align: left;
}

form table td, th {
    padding:0 0 0 10px;
}

form table legend {
    line-height: 1.0em;
}

body footer#footer {
    background: #333;
    color: #fff;
    font-size: 1.2em;
    line-height: 1.5em;
    padding: 50px 0; 
    background-image: url("../static/img/robots.png");
    border-top: 5px solid #ccc;
    margin-top: 50px;
    text-align: center;
}

footer a{
    color: #aaf;
}

footer .container{
}
form.form-search {
    margin-bottom: 100px;
}
