{# HI ALYSSA THIS IS A JINJA2 COMMENT :D #}

{% extends 'layout.html' %}
{% block content %}
<h3><a href="{{url_for('topics')}}">[all topics]</a>
{% for topic in topics %}
    <h1> <a href="{{url_for('topic',topic_name=topic.name)}}">{{topic.name}} </h1>
    <table class="table table-bordered table-striped table-hover">
    {% for assoc in topic.get_sorted_topics_courses() %}
        <tr>
	    <td><b><a href="{{url_for('view_course', course_id=assoc.course.id)}}">{{assoc.course.name}}</b></td>
	    <td><a href="{{assoc.course.url}}">link</a></td>
	    <td>{{assoc.course.description}}</td>
        <td>{% include 'vote.html' %}</td>
        <td>{{ assoc.stats.get_percent_positive() }} positive / {{assoc.stats.num_votes}} total</td>
        </tr>
    {% endfor %}
    </table>
{% endfor %}
{% endblock %}
