{% extends 'layout.html' %}

{% block content %}
<hr>
<div class="row">
	<div class="span6">
		<h2><a href="{{course.url}}">{{course.name}}</a></h2>
	</div>
	<div class="span6">
		<h3>description</h3>
		<p>{{course.description}}</p>
	</div>
</div>
<hr>
<div class="row">
	<div class="span12"
	<h3>this course has been filed under:</h3>
	{% for topic in course.topics %}
	<h4>{{topic.name}}</h4>
	<h5>this course scores {{scores[loop.index0]}} for this topic
	<form action="{{url_for('view_course', course_name=course.name)}}" method="POST" style="display: inline;">
		<button type="submit" class="btn-info btn-mini" name="vote" value="upvote {{topic.name}}">upvote</button>
		<button type="submit" class="btn-danger btn-mini" name="vote" value="downvote {{topic.name}}">downvote</button>
		<input type="hidden" name="vote" value={{request.form['vote']}} />
	</form>
	</h5>
	{% endfor %}
</div>
</div>

{% endblock %}

