<!DOCTYPE html>
<html>
<head>
    <title>Course Cat</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }} " rel="stylesheet" media="screen">
    <link href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet" media="screen">
    <script src="{{ url_for('static', filename='js/jquery.js') }}" ></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    {# <script src="{{ url_for('static', filename='js/less.js') }}" type='text/javascript>'</script> #}
    <link href='http://fonts.googleapis.com/css?family=Cabin:400,400italic|Rokkitt' rel='stylesheet' type='text/css'>
</head>
<body>
    <div class="container">
        <header>
        <a href="{{url_for('home')}}"><h1><img src="{{url_for('static', filename='img/cat.svg')}}" />Course Cat</h1></a>
        
        <p class="lead">Welcome to the universe of knowledge! ME - OW</p>
        </header>
        </br>   
        {% if course_add_form %}{% include 'course_add_form.html' %}{% endif %}
        {% block content %} {% endblock %} 
    </div>
        {% include 'footer.html' %}
</body>
</html>
