
<!DOCTYPE html>
<html>
<head>
  <title>Course Cat</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap -->
  <link href="{{ url_for('static', filename='css/bootstrap.min.css') }} " rel="stylesheet" media="screen">
</head>
<body>
  <script src="{{ url_for('static', filename='js/jquery.js') }}" ></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <h1>welcome to coursecat! (name change pending!)</h1>
            
    <form class="form-horizontal well" action="/courses/add" method="POST">
    	<fieldset>
    		<legend>Suggest a course!</legend>
    		<div class="control-group">
    			<label class="control-label">{{form.name.description}}</label>
    			{{form.name}}
    		</div>
    		<div class="control-group">
	    		<label class="control-label">{{form.url.description}}</label>
    			{{form.url}}
	    	</div>
    	</fieldset>
    <div class="form-actions">
    <button name="action_save" type="submit" class="btn btn-primary">submit!</button>
    </div>
    </form>
    {% block courselist %} {% endblock %} 

</body>
</html>